<div class="eaDashboard-sampleWidget-settings">
    <p>{{i18n.header}}</p>
    <input class="ebInput" type="text"/>
    <p>{{i18n.text}}</p>
    <div>
        <textarea class="eaDashboard-sampleWidget-settings-text" rows="15" class="ebTextArea"></textarea>
    </div>
    <button class="eaDashboard-sampleWidget-settings-apply ebBtn">{{i18n.apply}}</button>
</div>
