<div class="eaSimpleSelectionTable-wUserTable">
    <header class="eaSimpleSelectionTable-wUserTable-header">{{header}}</header>
    <div class="eaSimpleSelectionTable-wUserTable-table"></div>
    <div class="eaSimpleSelectionTable-wUserTable-message"></div>
</div>
