<div class="eaManagement-wTeamTable">
    <header class="eaManagement-wTeamTable-header">{{header}}</header>
    <div class="eaManagement-wTeamTable-table"></div>
    <div class="eaManagement-wTeamTable-message"></div>
</div>